<mat-drawer-container style="background-color: white;" class="drawer-container">
  <mat-drawer #sidebar class="pc-sidebar" [mode]="modeValue" opened>
    <nav>
      <div class="navbar-wrapper">
        <div class="d-flex align-items-center p-2 navbar-border-bottom">
        <!-- Icon Box -->
          <div style="margin-left: 10px;" class="d-flex align-items-center justify-content-center bg-dark rounded p-2 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" 
                width="20" height="20" viewBox="0 0 24 24" 
                fill="none" stroke="white" stroke-width="2" 
                stroke-linecap="round" stroke-linejoin="round">
              <path d="M22 10v6M2 10l10-5 10 5-10 5z"></path>
              <path d="M6 12v5c3 3 9 3 12 0v-5"></path>
            </svg>
          </div>
          <!-- Logo Text -->
          <h1 class="h6 fw-bold mb-0">School Name</h1>
        </div>
        <app-vertical-menu [menus]="menus"></app-vertical-menu>
      </div>
    </nav>
  </mat-drawer>
  <app-nav-bar></app-nav-bar>
  <div class="app-container">
    <app-breadcrumb></app-breadcrumb>
    <div class="main-body">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</mat-drawer-container>
<app-main-dialogbox></app-main-dialogbox>
