<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-t-5 m-b-5">
        <p class="m-0">
          GaavLearn &#9829; with Deepak Kumar
          <!-- <a href="#" target="_blank">Jassa</a> -->
        </p>
      </div>
      <div class="col-auto">
        <ul class="list-inline footer-link m-b-0">
          <li class="list-inline-item">
            <a href="#">Home</a>
          </li>
          <!-- <li class="list-inline-item">
            <a href="#" target="_blank">Jassa</a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">Pages</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
